<div class="col-12">
  <div class="card card-w-title flex flex-wrap">
    <div class="col-12 md:col-12 h-full">
      <h5>Generar nueva cotizacion</h5>
      <p-steps [model]="itemsMenu" styleClass="mt-5" [readonly]="false"></p-steps>
    </div>
    <div class="col-12 md:col-12 mt-5 md:mt-0">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="sharedService.showBtnNext" class="flex flex-wrap gap-2 align-items-center justify-content-center">
      <button [disabled]="!sharedService.selectClient" (click)="nextStep()" pButton pRipple type="button" label="Siguiente" class="p-button-raised"></button>
    </div>
  </div>
</div>
