<div class="col-12">
  <p-messages [(value)]="messages" [enableService]="false" />
</div>
<div class="grid p-fluid">
  <div class="col-12">
    <div class="card">
      <h5>Lista de clientes</h5>
      <p-table #dt [value]="listCustomer" [paginator]="true"
               [rows]="10"
               [lazy]="true"
               [totalRecords]="1000"
               [loading]="loading"
               (onLazyLoad)="loadClients($event)"
               [tableStyle]="{ 'min-width': '50rem' }"
               [rowsPerPageOptions]="[5, 10, 20]" selectionMode="single"
               scrollDirection="both" [scrollable]="true" (onRowSelect)="setData($event)"  styleClass="mt-3" responsiveLayout="scroll"
               [globalFilterFields]="['name']" >
        <ng-template pTemplate="caption">
          <div  class="flex flex-wrap gap-2 align-items-center justify-content-between">
            <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar por nombre..." class="w-full" />
                </span>
            <button *ngIf="sharedService.showBtnNewClient" (click)="navigateToFormCustomer()" pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-plus" label="Agregar nuevo cliente"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="sharedService.showBtnUpdate">ACTUALIZAR</th>
            <th *ngIf="sharedService.showBtnDelete">ELIMINAR</th>
            <th class="font-bold">ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>DNI</th>
            <th>TIPO CLIENTE</th>
            <th>CORREO ELECTRONICO</th>
            <th>TELEFONO</th>
            <th>FECHA NACIMIENTO</th>
            <th>ESTADO</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr [pSelectableRow]="data">
            <td *ngIf="sharedService.showBtnUpdate"><button (click)="navigateToUpdateCustomer(data.clientId)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success"></button></td>
            <td *ngIf="sharedService.showBtnDelete"><button (click)="deleteClient(data.clientId)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"></button></td>
            <td  class="font-bold">{{data.clientId}}</td>
            <td>{{data.name}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.dni}}</td>
            <td>{{data.typeClientEntity.typeName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phoneNumber}}</td>
            <td>{{data.birthDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td>{{data.status | status}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

